*{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

}
#logo{
    width: 25px;
}

.header {
    position: relative;
    background: #481d08;
}

header .sticky {
    width: 100%;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
header .sticky {
    left: 0px;
}

header .container {
    position: relative;
}

header .logo {
    float: left;
    position: absolute;
    padding: 29px 0;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
header .logo img {
    z-index: 3;
    position: relative;
    width: 120px
}
.logo-sticky {
    display: none;}

header .navbar {
    display: inline-block;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

header .navbar {
    border: none;
    margin: 0px;
    position: static;
    padding: 0px;
    border-radius: 0px;
    text-align: center;
    float: right
}

.ownmenu {
    float: left;
}

.ownmenu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.ownmenu a {
    -o-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    transition: all .3s linear;
    outline: none;
    z-index: 10
}
.topsociallink a {
    font-size: 18px;
    color: #bb8636;
    padding: 0 10px 0 10px;
    text-align: center
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 768px)
.navbar-toggle {
    display: none;
}

.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
@media (min-width: 768px)
.navbar-collapse.collapse {
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
}
.navbar-collapse {
    padding: 0px;
    float: left;
}
@media (min-width: 768px)
.navbar-collapse {
    width: auto;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%);
    box-shadow: inset 0 1px 0 rgb(255 255 255 / 10%);
}
.collapse {
    display: none
}
header .nav {
    padding: 0px;
    margin: 0px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}
header .navbar li {
    display: inline-block;
    margin: 0 15px;
    position: relative;
}
.ownmenu li {
}
.ownmenu li {
    display: inline-block;
    float: left;
}
.navbar2 a{
    color: white;
}
}
@media (min-width: 1200px)
.container {
    width: 1170px;
}
@media (min-width: 992px)
.container {
    width: 970px;
}
@media (min-width: 768px)
.container {
    width: 750px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.heading-block {
    margin-bottom: 60px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.style {
    position: relative;
    margin-bottom: -150px;
    visibility: visible;
    animation-name: fadeInUp;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}

.tp-simpleresponsive >ul >li {
    list-style: none;
    position: absolute;
    visibility: hidden;
}

.tp-simpleresponsive ul, .tp-simpleresponsive ul li, .tp-simpleresponsive ul li:before {
    list-style: none;
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
    overflow-x: visible;
    overflow-y: visible;
    background-image: none;
}
html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
* {
    margin: 0px;
    padding: 0px;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block
}
.tp-loader {
    top: 50%;
    left: 50%;
    z-index: 10000;
    position: absolute;
}
.tp-bannertimer {
    width: 100%;
    height: 3px;
    background: rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 200;
    top: 0px;
}
.tp-bullets.hidebullets {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

@media (min-width: 992px)
.col-md-4 {
    width: 33.33333333%
}

@media (min-width: 992px)
.col-md-8 {
    width: 66.66666667%
}

@media (min-width: 1200px)
.container {
    width: 1170px;
}
.padding-bottom-90 {
    padding-bottom: 90px !important;
}
.pad-t-b-130 {
    padding-top: 130px !important;
    padding-bottom: 350px !important
}   
.counters {
    background: #f5f5f5;
}

.nolist-style {
    padding: 0px;
    margin: 0px
}
.counters li {
    padding: 60px 0;
    list-style: none;
    text-align: center;
    border-right: 1px solid #fff;
}
.nolist-style li {
    list-style: none;
}
.counters li span {
    font-size: 40px;
    font-weight: bold;
    color: #252839;
    font-family: 'Montserrat', sans-serif;
}
.counters li p {
    margin-bottom: 0px;
}
p {
    font-family: 'Raleway', sans-serif;
    color: #767575;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 500;
    line-height: 26px;
    text-rendering: optimizeLegibility
}
.foot-up {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding-bottom: 20px;
    margin-bottom: 20px;
}
@media (min-width: 1200px)
.container {
    width: 1170px;
}
@media (min-width: 992px)
.container {
    width: 970px;
}
@media (min-width: 768px)
.container {
    width: 750px;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}
@media (min-width: 768px)
.col-sm-2 {
    width: 16.66666667%;
}
@media (min-width: 768px)
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px)
.col-sm-6 {
    width: 50%
}
footer p {
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    line-height: 24px
}
footer .pos-info ul {
    text-align: left;
    margin-top: 0px;
}
.foot-up ul {
    text-align: right;
    margin-top: 30px
}
footer .pos-info ul li {
    padding: 0px;
    padding-left: 30px;
    margin-left: 0px;
    position: relative;
}
.foot-up ul li {
    display: inline-block;
}
footer .pos-info ul li em, footer .pos-info ul li i {
    color: #f2b632;
    font-size: 30px;
    position: relative;
    left: 0px;
}
.flaticon-route:before {
    content: "\f112";}


.flaticon-smartphone:before {
    content: "\f10e";
}
.flaticon-mail:before {
    content: "\f110";
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-style: normal;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


footer .pos-info ul h6 {
    color: #fff;
    font-weight: 600;
}
h6 {
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    color: #000000;
    font-weight: bold;
    font-family: 'Raleway', sans-serif
}
a {
    text-decoration: none;
    color: #141414;
}
a {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    text-decoration: none !important;
    font-family: 'Raleway', sans-serif;
}
a {
    background-color: transparent;
}
.foot-up ul li a {
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}
footer .pos-info ul li a {
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
    width: 100%;
}
.btn-inverse {
    color: #333;
    background: #ff9d29;
    border: solid 1px rgba(255,255,255,0.1);
}

element.style {
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}
.btn-inverse {
    color: #333;
    background: #ff9d29;
    border: solid 1px rgba(255,255,255,0.1);
}
.btn {
    background: #f2b632;
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    padding: 15px 40px;
    font-weight: bold;
    border-radius: 0px;
    letter-spacing: 0px;
    line-height: 14px;
    color: #010101;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    font-family: 'Raleway', sans-serif;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background: #f2b632;
}
.footersociallink img{
    width: 25px;
}
footer {
    background: #252839;
    padding: 20px 0;
  
}
#lastfooter{  padding-bottom: 50px;
}

.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";}

.sub-bnr {
    min-height: 150px;
    background: #252839;
    position: relative;
    z-index: 1;
}
h3 {
    font-size: 36px;
    font-weight: 600;
}

element.style {
}
@media (min-width: 768px)
.col-sm-4 {
    width: 33.33333333%;
}

@media (min-width: 768px)
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
#fnav a{
    color: white;
}
.fly-nav.on-page .overlay {
    padding-top: 100px;
}
.fly-nav .overlay {
    position: fixed;
    background: rgba(37,40,57,0.95);
    left: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
    -webkit-transition: opacity .35s, visibility .35s, height .35s
}
.fly-nav .position-center-center {
    width: 100%;
    z-index: 99;
}
.position-center-center {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.blog-posts article {
    margin-bottom: 70px;
}
.news-post article {
    text-align: left
}
.blog-posts article img {
    width: 100%;
}
#shoplist a{
    color: #141414;
}